html
  head
    title bgBuddy
    link(rel="stylesheet" type="text/css" href="semantic.min.css")    
    style
      .
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);
        main.ui.container {
          padding-top: 50px;
        }
      block styles
  body
    header.ui.inverted.labeled.icon.top.fixed.menu
      div.ui.container
        div.header.item
          a(href="/") bgBuddy
    
    main.ui.container
      block content