extends layout.pug

block styles
  .
    section.social-login{
      display: flex;
      justify-content: center;
    }

block content
  section.ui.padded.segment
    h3.ui.block.header Login
    form.ui.form(action="/login" method="post" enctype='application/json' class=!!errorMessage ? "error" : undefined)
      div.field
        label Username
        input(type="text" name="username" placeholder="Enter username")
      div.field
        label Password
        input(type="password" name="password" placeholder="Enter password")
      section.ui.error.message
        div.header Login unsuccessful
        div= errorMessage
      input.ui.button(type="submit" value="Login")
    div.ui.horizontal.divider Or
    section.social-login
      a.ui.google.plus.button(href="/authentication/google/start")
        i.google.icon
        | Sign in with google
      a.ui.facebook.button(href="/authentication/facebook/start")
        i.facebook.icon
        | Sign in with Facebook