extends layout.pug

block content
  section.ui.padded.segment
    h3.ui.block.header 
      | Did you forget your credentials?
      div.sub.header.
        If you forget your password or username, enter your email and click on
        the button. We will send you an email with your username and a link to
        reset your password.
    form.ui.form(action="/recover" method="post" enctype='application/json' class=!!errorMessage ? "error" : undefined)
      div.field
        label Email
        input(type="email" name="username" placeholder="Enter email")
      section.ui.error.message
        div.header Recover unsuccessful
        div= errorMessage
      input.ui.button(type="submit" value="Recover credentials")