extends layout.pug

block content
  section.ui.padded.segment
    h3.ui.block.header Sign up
    form.ui.form(action="/signup" method="post" enctype='application/json' class=!!errorMessage ? "error" : undefined)
      div.field
        label Username
        input(type="text" name="username" placeholder="Enter username")
      div.field
        label Email
        input(type="email" name="username" placeholder="Enter email")
      div.field
        label Password
        input(type="password" name="password" placeholder="Enter password")
      section.ui.error.message
        div.header Sign up unsuccessful
        div= errorMessage
      input.ui.button(type="submit" value="Sign up")