.App_appMenu__11Hd6{height:57px}.App_appMenu__11Hd6.ui.menu .item.header a{line-height:28px}.App_appMenu__11Hd6.ui.menu.fixed{z-index:200}.AppSidebar_mainContainer__1-Uq5{padding-top:33px;height:100%}div.AppSidebar_appSidebar__1VmA7.pushable{padding-top:57px!important;height:100vh;-webkit-transform:none!important;transform:none!important}div.AppSidebar_appSidebar__1VmA7 .AppSidebar_sidebarContent__DIavs{padding-top:77px}body{margin:0;padding:0;font-family:sans-serif}
/*# sourceMappingURL=main.f8b31594.chunk.css.map */